$white: #fff;
$pink: #f9247e;
$black: #121212;
$gray: #fafafa;
$gray_dark: #a1a1a1;
$radius: 0;
$radius_small: 0;
$shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);


//Bootstrap rewrite variables

$modal-backdrop-bg: #221567;
$modal-backdrop-opacity: 0.8;


//media vars

$breakpoint-xxl: 1200px;
$breakpoint-xl: 992px;
$breakpoint-lg: 768px;
$breakpoint-md: 585px;
$breakpoint-sm: 375px;
